@mixin reset-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// COMMENT
// In ideal case we need to have own variables here
// but bootstrap gives a good set of colors
// and I decided to save time
@mixin vertical-list {
  @include reset-list;
  &-item {
    transition: background-color 500ms ease, color 300ms ease;
    &.is-active,
    &:active,
    &:focus,
    &:hover {
      background-color: var(--gray);
      color: var(--light);
      cursor: hand;
      cursor: pointer;
      .mobile-nav-list-item-link,
      .sidebar-menu-item-link {
        color: var(--light);
      }
    }
    &-link {
      color: var(--gray-dark);
      font-weight: bold;
      text-decoration: none;
      &:active,
      &:focus,
      &:hover {
        color: var(--light);
        text-decoration: underline;
      }
      // COMMENT
      // Stylus has a great benefit
      // the parent reference
      // https://stylus-lang.com/docs/selectors.html#parent-reference
      // and I could do like this
      // &:hover &, &:active &, &:focus & {color:...;}
      // I'd avoid such ugly work around on line 21 of this file
      &.without-icon {
        padding-left: $widthItem;
      }
    }
    &-icon {
      margin-right: $widthItem * 0.5;
    }
  }
}
