@font-face {
  font-family: "Cyberpunk";
  font-display: optional;
  src: url("/assets/fonts/Cyberpunk-Regular.eot"); /* IE9 Compat Modes */
  src: url("/assets/fonts/Cyberpunk-Regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/Cyberpunk-Regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/Cyberpunk-Regular.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("/assets/fonts/Cyberpunk-Regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/assets/fonts/Cyberpunk-Regular.svg#Cyberpunk-Regular") format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "VT323";
  font-display: optional;
  src: url("/assets/fonts/VT323-Regular.eot"); /* IE9 Compat Modes */
  src: url("/assets/fonts/VT323-Regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/VT323-Regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/assets/fonts/VT323-Regular.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("/assets/fonts/VT323-Regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/assets/fonts/VT323-Regular.svg#VT323-Regular") format("svg"); /* Legacy iOS */
}

html,
body {
  height: 100%;
}
