// COMMENT
// All sizes (padding, margins, font-sizes) should be relative
$widthItem: 1.6rem;
$topNavHeight: 91px;
$overlayBG: grey;

%shadow-b {
  -webkit-box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.75);
}

%shadow-r {
  -webkit-box-shadow: 4px 2px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 2px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 2px 15px 0px rgba(0, 0, 0, 0.75);
}

%shadow-full {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

%shadow-text {
  text-shadow: 2px 2px #ff0000;
}
