@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.sidebar {
  &-title {
    font-family: "VT323", Arial;
    padding-bottom: $widthItem;
  }
  &-menu {
    @include vertical-list;
  }
}
