<div class="sidebar-wrapper">
  <h1 class="sidebar-title">Cybercasino</h1>
  <div class="h3">Categories:</div>
  <ul class="sidebar-menu">
    <li
      *ngFor="let cat of categories"
      class="sidebar-menu-item pl-3 pr-3 pt-4 pb-4"
      (click)="navigate('/category/', cat.slug)"
      [ngClass]="cat.slug === activeCategory ? 'is-active' : ''"
    >
      <a
        [routerLink]="['/category/', cat.slug]"
        class="sidebar-menu-item-link"
        [ngClass]="!getCategoryIcon(cat.slug) ? 'without-icon' : ''"
        ><fa-icon
          class="sidebar-menu-item-icon"
          *ngIf="getCategoryIcon(cat.slug)"
          icon="{{ getCategoryIcon(cat.slug) }}"
        ></fa-icon
        >{{ cat.name }}</a
      >
    </li>
  </ul>
</div>
