<div class="row">
  <div class="col-sm pb-3">
    <a href="javascript:void(0)" (click)="goBack()"><-- Back</a>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <div *ngIf="error; else elseBlock">
      <div class="h2">{{ error }}</div>
    </div>
    <div *ngIf="game">
      The game
    </div>
  </div>
</div>
