@import "../../styles/variables.scss";

main {
  margin-top: $topNavHeight;
  @media only screen and (min-width: 576px) {
    margin-top: 0;
  }
}

.column {
  &-left {
    height: 100%;
    border-right: 1px solid var(--dark);
    @extend %shadow-r;
  }
}
