@import "../../../../styles/variables.scss";

.category-title {
  font-family: "VT323";
}

.games-list-wrapper {
  &-item {
    border-radius: 15px;
    border: 1px solid var(--gray);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    @extend %shadow-full;
    &-box {
      position: absolute;
      bottom: 25px;
      left: 0;
      right: 0;
      color: var(--white);
      font-size: $widthItem;
      @extend %shadow-text;
      &-link {
        color: var(--white);
        text-decoration: underline;
        &:hover,
        &:active,
        &:focus {
          text-decoration: none;
        }
      }
    }
  }
}
