<div *ngIf="checkGames(); else elseBlock" class="games-list-wrapper">
  <div class="row">
    <div class="col-sm">
      <div class="h2 pb-3 category-title">{{ category.name }}</div>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let game of games" class="col-md-12 col-lg-6 col-xl-4">
      <div
        class="games-list-wrapper-item embed-responsive embed-responsive-1by1 text-center mb-5"
        [ngStyle]="{ 'background-image': getBGImage(game) }"
      >
        <div class="games-list-wrapper-item-box">
          <div class="h3">{{ game.name }}</div>
          <a
            class="games-list-wrapper-item-box-link"
            [routerLink]="['/category/', category.slug, game.id]"
            >Hit the desk!</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="allGames.length > games.length">
    <div class="col-sm text-right">
      <a href="javascript:void(0)" (click)="showMore()">Show more games --></a>
    </div>
  </div>
</div>
<ng-template #elseBlock
  ><h2>There are no one game in the category</h2></ng-template
>
