@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.navbar {
  z-index: 999;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  @extend %shadow-b;
  &-brand {
    // COMMENT
    // I really tried to make it look in CyberPunk style
    // but it looked in Jypsy style instead
    // And I decided to use another font
    //font-family: "Cyberpunk", Arial;
    font-family: "VT323", Arial;
    font-size: $widthItem * 1.7;
  }
  &-bordered {
    border-bottom: 1px solid var(--gray);
    box-shadow: none;
  }
}

.mobile-nav {
  z-index: 998;
  transition: transform 1300ms, max-height 1500ms;
  transform: translateY(-100%);
  max-height: none;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  @extend %shadow-b;

  &.is-active {
    transform: translateY($topNavHeight);
    max-height: fit-content;
  }
  &-list {
    @include vertical-list;
  }
}
