<nav
  class="navbar navbar-expand-lg navbar-light bg-light"
  [ngClass]="mobileMenuActive ? 'navbar-bordered' : ''"
>
  <a class="navbar-brand" href="/">Cybercasino</a>
  <app-burger-button
    [active]="mobileMenuActive"
    (clicked)="burgerClicked($event)"
  ></app-burger-button>
</nav>

<div
  class="mobile-nav bg-light"
  [ngClass]="mobileMenuActive ? 'is-active' : ''"
>
  <ul class="mobile-nav-list">
    <li
      *ngFor="let cat of categories"
      class="mobile-nav-list-item pl-3 pr-3 pt-4 pb-4"
      (click)="navigate('/category/', cat.slug)"
      [ngClass]="cat.slug === activeCategory ? 'is-active' : ''"
    >
      <a
        [routerLink]="['/category/', cat.slug]"
        class="mobile-nav-list-item-link"
        [ngClass]="!getCategoryIcon(cat.slug) ? 'without-icon' : ''"
        ><fa-icon
          class="mobile-nav-list-item-icon"
          *ngIf="getCategoryIcon(cat.slug)"
          icon="{{ getCategoryIcon(cat.slug) }}"
        ></fa-icon
        >{{ cat.name }}</a
      >
    </li>
  </ul>
</div>
