<div class="overlay" [hidden]="!isLoading"></div>
<div [hidden]="!isLoading" class="spinner-wrapper">
  <h2 class="spinner-wrapper-label">
    <fa-icon icon="asterisk" class="spinner-wrapper-icon rotate-loop"></fa-icon
    >Loading...
  </h2>
</div>
